# notebooks checkpoints
.ipynb_checkpoints

# compiled python
**/*.pyc

# old stuff folder
old/adversarial_results/

# git stuff
.gitignore.save
git_status.txt

# anything in FOLDERS in exp
Experiments/*/
